<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BombBoy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28B95E2A1CA11F7500748F1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28B95E431CA11F7600748F1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28B95E4E1CA11F7600748F1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
